body {
  width: 100%;
  height: 100vh;
  background: #fff;
  color: #1b1b32;
  font-family: "Roboto Slab", serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 60%;
  height: 50vh;
  background: #f5f6f7;
  -webkit-box-shadow: 0px 2px 28px -1px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 2px 28px -1px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 2px 28px -1px rgba(0, 0, 0, 0.49);
  border-radius: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__form {
  width: 70%;
  height: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1px;
}
.form__header {
  margin: 0 auto;
}
.form__user-information {
  display: flex;
  flex-direction: column;
}
.form__label {
  display: flex;
  flex-direction: column;
}
